#!/bin/bash
# {{ ansible_managed }}

export TMPFILE=/tmp/bluestore_allocator_score_block.prom.$$
osd_path=$(find /var/lib/ceph/{{ ceph_mon_fsid }}/ -type d -name "osd.*"|  head -n 1)
if [ -z $osd_path ]; then
    cephadm --image "{{ cephadm_image }}" shell --fsid "{{ ceph_mon_fsid }}" \
      --config "$osd_path/config" \
      -m /var/lib/cron/bs-frag-score.sh -- ./mnt/bs-frag-score.sh > TMPFILE
else
    cephadm --image "{{ cephadm_image }}" shell --fsid "{{ ceph_mon_fsid }}" \
      -m /var/lib/cron/bs-frag-score.sh -- ./mnt/bs-frag-score.sh > TMPFILE
fi

mv $TMPFILE /tmp/bluestore_allocator_score_block.prom
