# Copyright (c) 2023 VEXXHOST, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

- name: Get public SSH key and store fact if not set
  when:
    - cephadm_host_public_key is not defined
  block:
    - name: Get public SSH key for "cephadm" user
      run_once: true
      changed_when: false
      delegate_to: "{{ cephadm_host_admin_host }}"
      ansible.builtin.command: cephadm shell -- ceph cephadm get-pub-key
      register: cephadm_host_public_key_command

    - name: Set fact with public SSH key for "cephadm" user
      run_once: true
      delegate_to: "{{ item }}"
      ansible.builtin.set_fact:
        cephadm_host_public_key: "{{ cephadm_host_public_key_command.stdout }}"
      loop: "{{ play_hosts }}"

- name: Set authorized key for "cephadm"
  ansible.posix.authorized_key:
    user: "{{ cephadm_host_user }}"
    state: present
    key: "{{ cephadm_host_public_key }}"

- name: Add new host to Ceph
  changed_when: false
  delegate_to: "{{ cephadm_host_admin_host }}"
  ansible.builtin.command:
    cmd: |
      cephadm shell -- ceph orch host add
        {{ inventory_hostname_short }}
        {{ ansible_all_ipv4_addresses | ansible.utils.ipaddr(ceph_mon_public_network) | first }}
        {% if cephadm_host_labels | length > 0 %}--labels={{ cephadm_host_labels | join(',') }}{% endif %}
