# Copyright (c) 2025 VEXXHOST, Inc.
# SPDX-License-Identifier: Apache-2.0

- name: Install Ceph host
  ansible.builtin.include_role:
    name: vexxhost.ceph.cephadm_host
  vars:
    cephadm_host_admin_host: "{{ _ceph_mon_bootstrap_node | default(groups[ceph_mon_group][0]) }}"
    cephadm_host_labels:
      - _admin
      - mgr

- name: Configure "mgr" label for managers
  delegate_to: "{{ _ceph_mon_bootstrap_node | default(groups[ceph_mon_group][0]) }}"
  run_once: true
  vexxhost.ceph.orch_apply:
    fsid: "{{ ceph_mgr_fsid }}"
    image: "{{ cephadm_image | default('quay.io/ceph/ceph:v' + (ceph_version | default('18.2.1'))) }}"
    docker: true
    spec: |
      service_type: mgr
      service_name: mgr
      placement:
        label: mgr

- name: Validate manager exist
  ansible.builtin.command: |
    cephadm shell
      --fsid "{{ ceph_mgr_fsid }}"
      --config "/var/lib/ceph/{{ ceph_mgr_fsid }}/mon.{{ inventory_hostname_short }}/config"
      -- ceph orch ps --daemon_type mgr --hostname "{{ inventory_hostname_short }}"
  register: ps_result
  until: ps_result.stdout | length > 0
  retries: "{{ ceph_mon_check_retry | default(120) }}"
  delay: 3
  changed_when: false

- name: Configure manager modules
  run_once: true
  vexxhost.ceph.mgr_module:
    name: "{{ item.name }}"
    state: "{{ item.state | default('enable') }}"
  loop: "{{ ceph_mgr_modules }}"
  loop_control:
    loop_var: item
